extends ./layout/index

block slider
    .slider     
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5   
            .col-md-6
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo esse consectetur inventore quod iste, ullam natus sed vitae voluptates delectus enim quia necessitatibus magnam consequatur? Suscipit consequuntur voluptatibus cum nihil?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint delectus assumenda in nobis ipsum odit minus! Inventore, dolore, ipsa, quae soluta rem nostrum temporibus atque facere aspernatur perferendis nam impedit.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes    
        
    .descuento  
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales