extends ./layout/index


block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat odio ac nibh commodo pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc convallis ullamcorper dui eget congue. Etiam sed nulla ut nisl cursus molestie. Nulla facilisi. Phasellus eu suscipit est. Suspendisse potenti. Morbi consequat nulla sed quam accumsan, condimentum dignissim eros mattis. Morbi mauris ante, rhoncus euismod pharetra at, ultricies nec mauris. Nam tincidunt elit non congue elementum. Donec ultrices fermentum odio sed vulputate.

                p Proin rhoncus sodales mauris at tristique. Vivamus orci metus, convallis ac luctus vitae, congue convallis ante. Aenean commodo viverra eros, ac ultricies risus cursus non. Praesent eget convallis quam. Cras malesuada pellentesque ligula a convallis. Sed pretium magna sit amet molestie pulvinar. Vivamus at massa nisl. Sed aliquet velit ligula, eu commodo arcu aliquet ac.

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4      
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")    
                    h2.mb-4 Seguridad 
                    p Cras malesuada pellentesque ligula a convallis. Sed pretium magna sit amet molestie pulvinar. Vivamus at massa nisl. Sed aliquet velit ligula, eu commodo arcu aliquet ac.
                .col-md-4      
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")    
                    h2.mb-4 Mejores destinos
                    p Cras malesuada pellentesque ligula a convallis. Sed pretium magna sit amet molestie pulvinar. Vivamus at massa nisl. Sed aliquet velit ligula, eu commodo arcu aliquet ac.
                .col-md-4      
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")    
                    h2.mb-4 Mejores precios 
                    p Cras malesuada pellentesque ligula a convallis. Sed pretium magna sit amet molestie pulvinar. Vivamus at massa nisl. Sed aliquet velit ligula, eu commodo arcu aliquet ac.